@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base {

    html,
    body {
        scroll-behavior: smooth;
    }

    p {
        @apply text-primary font-jost text-[15px] leading-[26px] tracking-[0.3px];
    }

    h3 {
        @apply text-primary font-jost text-[30px] font-semibold capitalize
    }

    h4 {
        @apply text-primary font-jost text-[16px] leading-[30px]
    }

    h5 {
        @apply text-primary font-jost text-[14px] leading-6
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
}


@theme {
    --font-jost: "Jost", sans-serif;
    --color-primary: #051036;
    --color-secondary: #697488;
}

@theme {
    --breakpoint-*: initial;
    --breakpoint-md: 40rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
}

/* remove default arrows of slick slider */
.slick-prev:before,
.slick-next:before {
    content: "" !important;
}

.slick-dots .slick-active div {
    background-color: #3554D1;
}

.slick-slider {
    position: relative;
}